// 152 px
$xxl-font: 9.5rem
// 100px
$xl-font: 6.25rem
// 48px
$l-font: 3rem
// 32px
$m-font: 2rem
// 24px
$s-font: 1.5rem
// 16px
$xs-font: 1rem

h1, h2, h3, h4, h5, h6, p, a, label, input, button, span
  font-family: "Roboto Thin", sans-serif

// 150
h1
  font-size: $xxl-font

// 100
h2
  font-size: $xl-font

// 50
h3
  font-size: $l-font

// 30
h4
  font-size: $m-font

// 25
h5
  font-size: $s-font

// 15
p
  font-size: $xs-font

h2 sup
  font-size: $s-font

label
  font-size: $s-font