@use "medias"

// basic fonts
// 152 px
$xxl-font: 9.5rem
// 100px
$xl-font: 6.25rem
// 48px
$l-font: 3rem
// 32px
$m-font: 2rem
// 24px
$s-font: 1.5rem
// 16px
$xs-font: 1rem

// special media fonts
// 80px
$media-xl-font: 5rem
$media-l-font: 4rem
$media-m-font: 2.5rem

h1, h2, h3, h4, h5, h6, p, a, label, input, button, span
  font-family: "Roboto Thin", sans-serif

h1
  font-size: $xxl-font

h2
  font-size: $xl-font

h3
  font-size: $l-font

h4
  font-size: $m-font

h5
  font-size: $s-font

p
  font-size: $xs-font

h2 sup
  font-size: $s-font

label
  font-size: $s-font

input, textarea
  font-size: $xs-font

#submit-button
  font-size: $s-font
  font-weight: bold

@media screen and (max-width: medias.$notebook-screen)
  h1
    font-size: $xl-font
  h4
    font-size: $s-font
  h5
    font-size: $xs-font

@media screen and (max-height: medias.$notebook-screen-height)
  h1
    font-size: $xl-font

@media screen and (max-width: medias.$small-screen), screen and (max-height: medias.$smaller-screen-height)
  .side-menu > h2
    font-size: $media-l-font

@media screen and (max-width: medias.$smaller-screen)
  h2
    font-size: $media-xl-font

@media screen and (max-height: medias.$smaller-screen-height)
  label
    font-size: $xs-font

@media screen and (max-width: medias.$tiny-screen)
  h1
    font-size: $media-xl-font

  h2
    font-size: $media-l-font

  h3
    font-size: $m-font

@media screen and (max-width: medias.$ipad-screen)
  h1
    font-size: $media-l-font

  .side-menu > h2
    font-size: $m-font

  h4
    font-size: $xs-font

@media screen and (max-width: medias.$mobile-screen)
  h1
    font-size: $media-m-font

  h2
    font-size: $m-font

  .side-menu > h2
    &:after
      content: ' \276F'

  .content-body
    &>h2
      line-height: 3.5
      &>sup
        font-size: $xs-font

  h4
    line-height: 1.5