@use "colors"
@use "mixins"
@use "icons"

.outer-views
  @include mixins.center-middle
  width: 100vw
  height: 100vh

.inner-views
  display: flex
  flex-direction: column
  height: 90%
  width: 90%

  > div:last-child
    align-self: flex-end

.title-head > h1
  margin: 0.2em 0 0.2em 0

.underline
  text-decoration: underline

.content
  display: flex

  &-body
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%

@media screen and (max-width: 1735px)
  .content
    margin-top: 3.5em

.disable-href
  pointer-events: none
  cursor: default

// Projects Technology List Spacers
.tech-list-spacer:after
  content: "\00a0 •"

.tech-list-spacer:before
  content: "\00a0"

.tech-list-spacer:last-child:after
  content: ""

.tech-list-spacer:first-child:before
  content: ""

// Projects Modal Width