@use "colors"

.outer-views
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%

.inner-views
  height: 90%
  width: 90%
  //background: brown
  border: aqua solid 2px

.title-head
  margin-bottom: 120px

.title-head > h1
  margin: 20px 0 20px 0

.underline
  text-decoration: underline

.content
  border: #ff88ff 1px solid
  width: 100%

.content-body
  display: flex
  border: #88ff88 1px solid

.icons
  border: navajowhite solid 1px
  height: 90px
  width: 500px